In [1]:
import pandas as pd

In [3]:
import os

os.getcwd()
os.chdir("C:/Users/임상현/Desktop/업무/배출체계/181201")
os.getcwd()
os.listdir(".")

['code_table.csv', 'sc12.csv', '분석 배출량_V4.xlsx', '이규진박사님 자료요청 파일_V4.xlsx']

In [26]:
# step 1 - 파일 불러오기 

#####################################

#sc_3=pd.read_csv("sc3.csv",encoding='utf-8')
#sc_4=pd.read_csv("sc4.csv",encoding='utf-8')
#sc_5=pd.read_csv("sc5.csv",encoding='utf-8')
#sc_6=pd.read_csv("sc6.csv",encoding='utf-8')
#sc_7=pd.read_csv("sc7.csv",encoding='utf-8')
#sc_8=pd.read_csv("sc8.csv",encoding='utf-8')
#sc_9=pd.read_csv("sc9.csv",encoding='utf-8')

##

#sc_10=pd.read_csv("sc10.csv",encoding='utf-8')
#sc_11=pd.read_csv("sc11.csv",encoding='utf-8')

##
sc_12=pd.read_csv("sc12.csv",encoding='utf-8')
code_table=pd.read_csv("code_table.csv",encoding='utf-8')

#####################################

In [15]:
sc_12

,Ncode,Scode1,Scode2,Bcode,Ccode1,Ccode2,Fcode,EMI_CO2,EMI_CH4,EMI_N2O,EMI_CO2eq
0,1001111,1,100,1,1,1,1,72,0,0,72
1,1011111,1,101,1,1,1,1,24,0,0,24
2,1021111,1,102,1,1,1,1,7,0,0,7
3,1031111,1,103,1,1,1,1,13,0,0,13
4,1041111,1,104,1,1,1,1,11,0,0,11
5,1051111,1,105,1,1,1,1,14,0,0,14
6,1061111,1,106,1,1,1,1,6,0,0,6
7,1071111,1,107,1,1,1,1,26,0,0,26
8,1081111,1,108,1,1,1,1,14,0,0,14
9,1091111,1,109,1,1,1,1,8,0,0,8
10,1101111,1,110,1,1,1,1,15,0,0,15
11,1111111,1,111,1,1,1,1,19,0,0,19
12,1121111,1,112,1,1,1,1,22,0,0,22
13,1131111,1,113,1,1,1,1,4,0,0,4
14,1141111,1,114,1,1,1,1,26,0,0,26
15,1151111,1,115,1,1,1,1,27,0,0,27
16,1161111,1,116,1,1,1,1,14,0,0,14
17,1171111,1,117,1,1,1,1,4,0,0,4
18,1181111,1,118,1,1,1,1,9,0,0,9
19,1191111,1,119,1,1,1,1,23,0,0,23
20,1201111,1,120,1,1,1,1,10,0,0,10
21,1211111,1,121,1,1,1,1,18,0,0,18
22,1221111,1,122,1,1,1,1,18,0,0,18
23,1231111,1,123,1,1,1,1,11,0,0,11
24,1241111,1,124,1,1,1,1,14,0,0,14
25,1301111,2,130,1,1,1,1,30,0,0,30
26,1311111,2,131,1,1,1,1,5,0,0,5
27,1321111,2,132,1,1,1,1,16,0,0,16
28,1331111,2,133,1,1,1,1,12,0,0,12
29,1341111,2,134,1,1,1,1,24,0,0,25
...,...,...,...,...,...,...,...,...,...,...,...
76578,3633447,15,363,3,4,4,7,0,0,0,0
76579,3643447,15,364,3,4,4,7,0,0,0,0
76580,3653447,15,365,3,4,4,7,0,0,0,0
76581,3663447,15,366,3,4,4,7,0,0,0,0
76582,3673447,15,367,3,4,4,7,0,0,0,0
76583,3683447,15,368,3,4,4,7,0,0,0,0
76584,3693447,15,369,3,4,4,7,0,0,0,0
76585,3703447,15,370,3,4,4,7,0,0,0,0
76586,3713447,15,371,3,4,4,7,0,0,0,0
76587,3723447,15,372,3,4,4,7,0,0,0,0
76588,3733447,15,373,3,4,4,7,0,0,0,0
76589,3793447,16,379,3,4,4,7,0,0,0,0
76590,3813447,16,381,3,4,4,7,0,0,0,0
76591,3833447,16,383,3,4,4,7,0,0,0,0
76592,3843447,16,384,3,4,4,7,0,0,0,0
76593,3853447,16,385,3,4,4,7,0,0,0,0
76594,3863447,16,386,3,4,4,7,0,0,0,0
76595,3873447,16,387,3,4,4,7,0,0,0,0
76596,3883447,16,388,3,4,4,7,0,0,0,0
76597,3893447,16,389,3,4,4,7,0,0,0,0
76598,3903447,16,390,3,4,4,7,0,0,0,0
76599,3913447,16,391,3,4,4,7,0,0,0,0
76600,3923447,16,392,3,4,4,7,0,0,0,0
76601,3933447,16,393,3,4,4,7,0,0,0,0
76602,3943447,16,394,3,4,4,7,0,0,0,0
76603,3953447,16,395,3,4,4,7,0,0,0,0
76604,3963447,16,396,3,4,4,7,0,0,0,0
76605,3973447,16,397,3,4,4,7,0,0,0,0
76606,3983447,16,398,3,4,4,7,0,0,0,0
76607,4053447,17,405,3,4,4,7,0,0,0,0

In [28]:
# step 2 특별광역시도 작업 - 특별광역시도에는 scode1 , ccode1 만 필요해서 그것만 사용

#############################################

total_a=0
total_b=1

co2=[]
ch4=[]
n2o=[]
tot_sum=[]

in_Scode_1=1


while(in_Scode_1<9):
    
    dummy_0=[]
    c_code=1
    
    while(c_code<5):
        
        # 변경 !  #############
        
        # scode , ccode 코드에 맞는 데이터 검색 
        
        dummy_0=sc_12[ (sc_12.Scode1 == in_Scode_1) & (sc_12.Ccode1==c_code) ]
        
        med_co2=[]
        med_ch4=[]
        med_n2o=[]
        med_tot_sum=[]

        int_co2=0
        int_ch4=0
        int_n2o=0
        int_sum=0

        float(int_co2)
        float(int_ch4)
        float(int_n2o)
        float(int_sum)
        
        med_co2=dummy_0.EMI_CO2
        med_ch4=dummy_0.EMI_CH4
        med_n2o=dummy_0.EMI_N2O
        med_tot_sum=dummy_0.EMI_CO2eq
        
        

        int_co2=med_co2.sum()
        int_ch4=med_ch4.sum()
        int_n2o=med_n2o.sum()
        int_sum=med_tot_sum.sum()
        
        co2.append(int_co2)
        ch4.append(int_ch4)
        n2o.append(int_n2o)
        tot_sum.append(int_sum)
        
        c_code=c_code+1

    in_Scode_1=in_Scode_1+1
    
##########################################

# step 3 - 일반시도 작업 - scode1 , scode2 , ccode1 사용

#######################################
while(total_b<153):
    
    code_a=0
    code_b=0
    #step_1
    
    dummy_list=[]
    dummy_list=code_table[ total_a : total_b ]
    
    dummy_list.iloc[0,1]
    code_a=dummy_list.iloc[0,2]
    code_b=dummy_list.iloc[0,1]
    int(code_a)
    int(code_b)
    
    print(dummy_list," check ! ")
    print()
    #step_2
    
    dummy_1=[]
    
    c_code=1
    
    while(c_code<5):
        
    # 여기를 건들여 주세요. ##########
    
        dummy_1=sc_12[ (sc_12.Scode1==code_a) & (sc_12.Scode2==code_b) & (sc_12.Ccode1==c_code) ]

    
        #step_3

        med_co2=[]
        med_ch4=[]
        med_n2o=[]
        med_tot_sum=[]

        int_co2=0
        int_ch4=0
        int_n2o=0
        int_sum=0

        float(int_co2)
        float(int_ch4)
        float(int_n2o)
        float(int_sum)


        med_co2=dummy_1.EMI_CO2
        med_ch4=dummy_1.EMI_CH4
        med_n2o=dummy_1.EMI_N2O
        med_tot_sum=dummy_1.EMI_CO2eq
        

        int_co2=med_co2.sum()
        int_ch4=med_ch4.sum()
        int_n2o=med_n2o.sum()
        int_sum=med_tot_sum.sum()

        print(" check 2  =  ",code_a,"  : ",code_b,"  : ",c_code)

        co2.append(int_co2)
        ch4.append(int_ch4)
        n2o.append(int_n2o)
        tot_sum.append(int_sum)
        
        c_code=c_code+1
        
    print("bye",total_b)

    
    #print(code_table[a:b])
    total_a=total_a+1
    total_b=total_b+1
    
#############################################    


# step 4 - 제주도 용도

###############################
    # 제주도 용

c_code=1
while(c_code<5):
        
        ########### 여기도 염 #######
        
    dummy_0=sc_12[ (sc_12.Scode1 == 17) & (sc_12.Ccode1==c_code) ]
        
    med_co2=[]
    med_ch4=[]
    med_n2o=[]
    med_tot_sum=[]

    int_co2=0
    int_ch4=0
    int_n2o=0
    int_sum=0

    float(int_co2)
    float(int_ch4)
    float(int_n2o)
    float(int_sum)


    med_co2=dummy_0.EMI_CO2
    med_ch4=dummy_0.EMI_CH4
    med_n2o=dummy_0.EMI_N2O
    med_tot_sum=dummy_0.EMI_CO2eq

    int_co2=med_co2.sum()
    int_ch4=med_ch4.sum()
    int_n2o=med_n2o.sum()
    int_sum=med_tot_sum.sum()
        
    co2.append(int_co2)
    ch4.append(int_ch4)
    n2o.append(int_n2o)
    tot_sum.append(int_sum)
        
    c_code=c_code+1
    
###################################

      a    b  c
0  경기수원  200  9  check !

 check 2  =   9   :  200   :  1
 check 2  =   9   :  200   :  2
 check 2  =   9   :  200   :  3
 check 2  =   9   :  200   :  4
bye 1
      a    b  c
1  경기성남  204  9  check !

 check 2  =   9   :  204   :  1
 check 2  =   9   :  204   :  2
 check 2  =   9   :  204   :  3
 check 2  =   9   :  204   :  4
bye 2
       a    b  c
2  경기의정부  207  9  check !

 check 2  =   9   :  207   :  1
 check 2  =   9   :  207   :  2
 check 2  =   9   :  207   :  3
 check 2  =   9   :  207   :  4
bye 3
      a    b  c
3  경기안양  208  9  check !

 check 2  =   9   :  208   :  1
 check 2  =   9   :  208   :  2
 check 2  =   9   :  208   :  3
 check 2  =   9   :  208   :  4
bye 4
      a    b  c
4  경기부천  210  9  check !

 check 2  =   9   :  210   :  1
 check 2  =   9   :  210   :  2
 check 2  =   9   :  210   :  3
 check 2  =   9   :  210   :  4
bye 5
      a    b  c
5  경기광명  213  9  check !

 check 2  =   9   :  213   :  1
 check 2  =   9   :  213   :  2
 check 2  =   9   :  213   :  3
 check 2  =   9   :  213   :  4
bye 6
      a    b  c
6  경기평택  214  9  check !

 check 2  =   9   :  214   :  1
 check 2  =   9   :  214   :  2
 check 2  =   9   :  214   :  3
 check 2  =   9   :  214   :  4
bye 7
       a    b  c
7  경기동두천  215  9  check !

 check 2  =   9   :  215   :  1
 check 2  =   9   :  215   :  2
 check 2  =   9   :  215   :  3
 check 2  =   9   :  215   :  4
bye 8
      a    b  c
8  경기안산  216  9  check !

 check 2  =   9   :  216   :  1
 check 2  =   9   :  216   :  2
 check 2  =   9   :  216   :  3
 check 2  =   9   :  216   :  4
bye 9
      a    b  c
9  경기고양  218  9  check !

 check 2  =   9   :  218   :  1
 check 2  =   9   :  218   :  2
 check 2  =   9   :  218   :  3
 check 2  =   9   :  218   :  4
bye 10
       a    b  c
10  경기과천  220  9  check !

 check 2  =   9   :  220   :  1
 check 2  =   9   :  220   :  2
 check 2  =   9   :  220   :  3
 check 2  =   9   :  220   :  4
bye 11
       a    b  c
11  경기구리  221  9  check !

 check 2  =   9   :  221   :  1
 check 2  =   9   :  221   :  2
 check 2  =   9   :  221   :  3
 check 2  =   9   :  221   :  4
bye 12
        a    b  c
12  경기남양주  222  9  check !

 check 2  =   9   :  222   :  1
 check 2  =   9   :  222   :  2
 check 2  =   9   :  222   :  3
 check 2  =   9   :  222   :  4
bye 13
       a    b  c
13  경기오산  223  9  check !

 check 2  =   9   :  223   :  1
 check 2  =   9   :  223   :  2
 check 2  =   9   :  223   :  3
 check 2  =   9   :  223   :  4
bye 14
       a    b  c
14  경기시흥  224  9  check !

 check 2  =   9   :  224   :  1
 check 2  =   9   :  224   :  2
 check 2  =   9   :  224   :  3
 check 2  =   9   :  224   :  4
bye 15
       a    b  c
15  경기군포  225  9  check !

 check 2  =   9   :  225   :  1
 check 2  =   9   :  225   :  2
 check 2  =   9   :  225   :  3
 check 2  =   9   :  225   :  4
bye 16
       a    b  c
16  경기의왕  226  9  check !

 check 2  =   9   :  226   :  1
 check 2  =   9   :  226   :  2
 check 2  =   9   :  226   :  3
 check 2  =   9   :  226   :  4
bye 17
       a    b  c
17  경기하남  227  9  check !

 check 2  =   9   :  227   :  1
 check 2  =   9   :  227   :  2
 check 2  =   9   :  227   :  3
 check 2  =   9   :  227   :  4
bye 18
       a    b  c
18  경기용인  228  9  check !

 check 2  =   9   :  228   :  1
 check 2  =   9   :  228   :  2
 check 2  =   9   :  228   :  3
 check 2  =   9   :  228   :  4
bye 19
       a    b  c
19  경기파주  229  9  check !

 check 2  =   9   :  229   :  1
 check 2  =   9   :  229   :  2
 check 2  =   9   :  229   :  3
 check 2  =   9   :  229   :  4
bye 20
       a    b  c
20  경기이천  230  9  check !

 check 2  =   9   :  230   :  1
 check 2  =   9   :  230   :  2
 check 2  =   9   :  230   :  3
 check 2  =   9   :  230   :  4
bye 21
       a    b  c
21  경기안성  231  9  check !

 check 2  =   9   :  231   :  1
 check 2  =   9   :  231   :  2
 check 2  =   9   :  231   :  3
 check 2  =   9   :  231   :  4
bye 22
       a    b  c
22  경기김포  232  9  check !

 check 2  =   9   :  232   :  1
 check 2  =   9   :  232   :  2
 check 2  =   9   :  232   :  3
 check 2  =   9   :  232   :  4
bye 23
       a    b  c
23  경기화성  233  9  check !

 check 2  =   9   :  233   :  1
 check 2  =   9   :  233   :  2
 check 2  =   9   :  233   :  3
 check 2  =   9   :  233   :  4
bye 24
       a    b  c
24  경기광주  234  9  check !

 check 2  =   9   :  234   :  1
 check 2  =   9   :  234   :  2
 check 2  =   9   :  234   :  3
 check 2  =   9   :  234   :  4
bye 25
       a    b  c
25  경기양주  235  9  check !

 check 2  =   9   :  235   :  1
 check 2  =   9   :  235   :  2
 check 2  =   9   :  235   :  3
 check 2  =   9   :  235   :  4
bye 26
       a    b  c
26  경기포천  236  9  check !

 check 2  =   9   :  236   :  1
 check 2  =   9   :  236   :  2
 check 2  =   9   :  236   :  3
 check 2  =   9   :  236   :  4
bye 27
       a    b  c
27  경기여주  237  9  check !

 check 2  =   9   :  237   :  1
 check 2  =   9   :  237   :  2
 check 2  =   9   :  237   :  3
 check 2  =   9   :  237   :  4
bye 28
       a    b  c
28  경기연천  238  9  check !

 check 2  =   9   :  238   :  1
 check 2  =   9   :  238   :  2
 check 2  =   9   :  238   :  3
 check 2  =   9   :  238   :  4
bye 29
       a    b  c
29  경기가평  239  9  check !

 check 2  =   9   :  239   :  1
 check 2  =   9   :  239   :  2
 check 2  =   9   :  239   :  3
 check 2  =   9   :  239   :  4
bye 30
       a    b  c
30  경기양평  240  9  check !

 check 2  =   9   :  240   :  1
 check 2  =   9   :  240   :  2
 check 2  =   9   :  240   :  3
 check 2  =   9   :  240   :  4
bye 31
       a    b   c
31  강원춘천  250  10  check !

 check 2  =   10   :  250   :  1
 check 2  =   10   :  250   :  2
 check 2  =   10   :  250   :  3
 check 2  =   10   :  250   :  4
bye 32
       a    b   c
32  강원원주  251  10  check !

 check 2  =   10   :  251   :  1
 check 2  =   10   :  251   :  2
 check 2  =   10   :  251   :  3
 check 2  =   10   :  251   :  4
bye 33
       a    b   c
33  강원강릉  252  10  check !

 check 2  =   10   :  252   :  1
 check 2  =   10   :  252   :  2
 check 2  =   10   :  252   :  3
 check 2  =   10   :  252   :  4
bye 34
       a    b   c
34  강원동해  253  10  check !

 check 2  =   10   :  253   :  1
 check 2  =   10   :  253   :  2
 check 2  =   10   :  253   :  3
 check 2  =   10   :  253   :  4
bye 35
       a    b   c
35  강원태백  254  10  check !

 check 2  =   10   :  254   :  1
 check 2  =   10   :  254   :  2
 check 2  =   10   :  254   :  3
 check 2  =   10   :  254   :  4
bye 36
       a    b   c
36  강원속초  255  10  check !

 check 2  =   10   :  255   :  1
 check 2  =   10   :  255   :  2
 check 2  =   10   :  255   :  3
 check 2  =   10   :  255   :  4
bye 37
       a    b   c
37  강원삼척  256  10  check !

 check 2  =   10   :  256   :  1
 check 2  =   10   :  256   :  2
 check 2  =   10   :  256   :  3
 check 2  =   10   :  256   :  4
bye 38
       a    b   c
38  강원홍천  257  10  check !

 check 2  =   10   :  257   :  1
 check 2  =   10   :  257   :  2
 check 2  =   10   :  257   :  3
 check 2  =   10   :  257   :  4
bye 39
       a    b   c
39  강원횡성  258  10  check !

 check 2  =   10   :  258   :  1
 check 2  =   10   :  258   :  2
 check 2  =   10   :  258   :  3
 check 2  =   10   :  258   :  4
bye 40
       a    b   c
40  강원영월  259  10  check !

 check 2  =   10   :  259   :  1
 check 2  =   10   :  259   :  2
 check 2  =   10   :  259   :  3
 check 2  =   10   :  259   :  4
bye 41
       a    b   c
41  강원평창  260  10  check !

 check 2  =   10   :  260   :  1
 check 2  =   10   :  260   :  2
 check 2  =   10   :  260   :  3
 check 2  =   10   :  260   :  4
bye 42
       a    b   c
42  강원정선  261  10  check !

 check 2  =   10   :  261   :  1
 check 2  =   10   :  261   :  2
 check 2  =   10   :  261   :  3
 check 2  =   10   :  261   :  4
bye 43
       a    b   c
43  강원철원  262  10  check !

 check 2  =   10   :  262   :  1
 check 2  =   10   :  262   :  2
 check 2  =   10   :  262   :  3
 check 2  =   10   :  262   :  4
bye 44
       a    b   c
44  강원화천  263  10  check !

 check 2  =   10   :  263   :  1
 check 2  =   10   :  263   :  2
 check 2  =   10   :  263   :  3
 check 2  =   10   :  263   :  4
bye 45
       a    b   c
45  강원양구  264  10  check !

 check 2  =   10   :  264   :  1
 check 2  =   10   :  264   :  2
 check 2  =   10   :  264   :  3
 check 2  =   10   :  264   :  4
bye 46
       a    b   c
46  강원인제  265  10  check !

 check 2  =   10   :  265   :  1
 check 2  =   10   :  265   :  2
 check 2  =   10   :  265   :  3
 check 2  =   10   :  265   :  4
bye 47
       a    b   c
47  강원고성  266  10  check !

 check 2  =   10   :  266   :  1
 check 2  =   10   :  266   :  2
 check 2  =   10   :  266   :  3
 check 2  =   10   :  266   :  4
bye 48
       a    b   c
48  강원양양  267  10  check !

 check 2  =   10   :  267   :  1
 check 2  =   10   :  267   :  2
 check 2  =   10   :  267   :  3
 check 2  =   10   :  267   :  4
bye 49
       a    b   c
49  충북청주  270  11  check !

 check 2  =   11   :  270   :  1
 check 2  =   11   :  270   :  2
 check 2  =   11   :  270   :  3
 check 2  =   11   :  270   :  4
bye 50
       a    b   c
50  충북충주  272  11  check !

 check 2  =   11   :  272   :  1
 check 2  =   11   :  272   :  2
 check 2  =   11   :  272   :  3
 check 2  =   11   :  272   :  4
bye 51
       a    b   c
51  충북제천  273  11  check !

 check 2  =   11   :  273   :  1
 check 2  =   11   :  273   :  2
 check 2  =   11   :  273   :  3
 check 2  =   11   :  273   :  4
bye 52
       a    b   c
52  충북보은  275  11  check !

 check 2  =   11   :  275   :  1
 check 2  =   11   :  275   :  2
 check 2  =   11   :  275   :  3
 check 2  =   11   :  275   :  4
bye 53
       a    b   c
53  충북옥천  276  11  check !

 check 2  =   11   :  276   :  1
 check 2  =   11   :  276   :  2
 check 2  =   11   :  276   :  3
 check 2  =   11   :  276   :  4
bye 54
       a    b   c
54  충북영동  277  11  check !

 check 2  =   11   :  277   :  1
 check 2  =   11   :  277   :  2
 check 2  =   11   :  277   :  3
 check 2  =   11   :  277   :  4
bye 55
       a    b   c
55  충북증평  278  11  check !

 check 2  =   11   :  278   :  1
 check 2  =   11   :  278   :  2
 check 2  =   11   :  278   :  3
 check 2  =   11   :  278   :  4
bye 56
       a    b   c
56  충북진천  279  11  check !

 check 2  =   11   :  279   :  1
 check 2  =   11   :  279   :  2
 check 2  =   11   :  279   :  3
 check 2  =   11   :  279   :  4
bye 57
       a    b   c
57  충북괴산  280  11  check !

 check 2  =   11   :  280   :  1
 check 2  =   11   :  280   :  2
 check 2  =   11   :  280   :  3
 check 2  =   11   :  280   :  4
bye 58
       a    b   c
58  충북음성  281  11  check !

 check 2  =   11   :  281   :  1
 check 2  =   11   :  281   :  2
 check 2  =   11   :  281   :  3
 check 2  =   11   :  281   :  4
bye 59
       a    b   c
59  충북단양  282  11  check !

 check 2  =   11   :  282   :  1
 check 2  =   11   :  282   :  2
 check 2  =   11   :  282   :  3
 check 2  =   11   :  282   :  4
bye 60
       a    b   c
60  충남천안  285  12  check !

 check 2  =   12   :  285   :  1
 check 2  =   12   :  285   :  2
 check 2  =   12   :  285   :  3
 check 2  =   12   :  285   :  4
bye 61
       a    b   c
61  충남공주  286  12  check !

 check 2  =   12   :  286   :  1
 check 2  =   12   :  286   :  2
 check 2  =   12   :  286   :  3
 check 2  =   12   :  286   :  4
bye 62
       a    b   c
62  충남보령  287  12  check !

 check 2  =   12   :  287   :  1
 check 2  =   12   :  287   :  2
 check 2  =   12   :  287   :  3
 check 2  =   12   :  287   :  4
bye 63
       a    b   c
63  충남아산  288  12  check !

 check 2  =   12   :  288   :  1
 check 2  =   12   :  288   :  2
 check 2  =   12   :  288   :  3
 check 2  =   12   :  288   :  4
bye 64
       a    b   c
64  충남서산  289  12  check !

 check 2  =   12   :  289   :  1
 check 2  =   12   :  289   :  2
 check 2  =   12   :  289   :  3
 check 2  =   12   :  289   :  4
bye 65
       a    b   c
65  충남논산  290  12  check !

 check 2  =   12   :  290   :  1
 check 2  =   12   :  290   :  2
 check 2  =   12   :  290   :  3
 check 2  =   12   :  290   :  4
bye 66
       a    b   c
66  충남계룡  291  12  check !

 check 2  =   12   :  291   :  1
 check 2  =   12   :  291   :  2
 check 2  =   12   :  291   :  3
 check 2  =   12   :  291   :  4
bye 67
       a    b   c
67  충남당진  300  12  check !

 check 2  =   12   :  300   :  1
 check 2  =   12   :  300   :  2
 check 2  =   12   :  300   :  3
 check 2  =   12   :  300   :  4
bye 68
       a    b   c
68  충남금산  292  12  check !

 check 2  =   12   :  292   :  1
 check 2  =   12   :  292   :  2
 check 2  =   12   :  292   :  3
 check 2  =   12   :  292   :  4
bye 69
       a    b   c
69  충남부여  294  12  check !

 check 2  =   12   :  294   :  1
 check 2  =   12   :  294   :  2
 check 2  =   12   :  294   :  3
 check 2  =   12   :  294   :  4
bye 70
       a    b   c
70  충남서천  295  12  check !

 check 2  =   12   :  295   :  1
 check 2  =   12   :  295   :  2
 check 2  =   12   :  295   :  3
 check 2  =   12   :  295   :  4
bye 71
       a    b   c
71  충남청양  296  12  check !

 check 2  =   12   :  296   :  1
 check 2  =   12   :  296   :  2
 check 2  =   12   :  296   :  3
 check 2  =   12   :  296   :  4
bye 72
       a    b   c
72  충남홍성  297  12  check !

 check 2  =   12   :  297   :  1
 check 2  =   12   :  297   :  2
 check 2  =   12   :  297   :  3
 check 2  =   12   :  297   :  4
bye 73
       a    b   c
73  충남예산  298  12  check !

 check 2  =   12   :  298   :  1
 check 2  =   12   :  298   :  2
 check 2  =   12   :  298   :  3
 check 2  =   12   :  298   :  4
bye 74
       a    b   c
74  충남태안  299  12  check !

 check 2  =   12   :  299   :  1
 check 2  =   12   :  299   :  2
 check 2  =   12   :  299   :  3
 check 2  =   12   :  299   :  4
bye 75
       a    b   c
75  전북전주  305  13  check !

 check 2  =   13   :  305   :  1
 check 2  =   13   :  305   :  2
 check 2  =   13   :  305   :  3
 check 2  =   13   :  305   :  4
bye 76
       a    b   c
76  전북군산  307  13  check !

 check 2  =   13   :  307   :  1
 check 2  =   13   :  307   :  2
 check 2  =   13   :  307   :  3
 check 2  =   13   :  307   :  4
bye 77
       a    b   c
77  전북익산  308  13  check !

 check 2  =   13   :  308   :  1
 check 2  =   13   :  308   :  2
 check 2  =   13   :  308   :  3
 check 2  =   13   :  308   :  4
bye 78
       a    b   c
78  전북정읍  309  13  check !

 check 2  =   13   :  309   :  1
 check 2  =   13   :  309   :  2
 check 2  =   13   :  309   :  3
 check 2  =   13   :  309   :  4
bye 79
       a    b   c
79  전북남원  310  13  check !

 check 2  =   13   :  310   :  1
 check 2  =   13   :  310   :  2
 check 2  =   13   :  310   :  3
 check 2  =   13   :  310   :  4
bye 80
       a    b   c
80  전북김제  311  13  check !

 check 2  =   13   :  311   :  1
 check 2  =   13   :  311   :  2
 check 2  =   13   :  311   :  3
 check 2  =   13   :  311   :  4
bye 81
       a    b   c
81  전북완주  312  13  check !

 check 2  =   13   :  312   :  1
 check 2  =   13   :  312   :  2
 check 2  =   13   :  312   :  3
 check 2  =   13   :  312   :  4
bye 82
       a    b   c
82  전북진안  313  13  check !

 check 2  =   13   :  313   :  1
 check 2  =   13   :  313   :  2
 check 2  =   13   :  313   :  3
 check 2  =   13   :  313   :  4
bye 83
       a    b   c
83  전북무주  314  13  check !

 check 2  =   13   :  314   :  1
 check 2  =   13   :  314   :  2
 check 2  =   13   :  314   :  3
 check 2  =   13   :  314   :  4
bye 84
       a    b   c
84  전북장수  315  13  check !

 check 2  =   13   :  315   :  1
 check 2  =   13   :  315   :  2
 check 2  =   13   :  315   :  3
 check 2  =   13   :  315   :  4
bye 85
       a    b   c
85  전북임실  316  13  check !

 check 2  =   13   :  316   :  1
 check 2  =   13   :  316   :  2
 check 2  =   13   :  316   :  3
 check 2  =   13   :  316   :  4
bye 86
       a    b   c
86  전북순창  317  13  check !

 check 2  =   13   :  317   :  1
 check 2  =   13   :  317   :  2
 check 2  =   13   :  317   :  3
 check 2  =   13   :  317   :  4
bye 87
       a    b   c
87  전북고창  318  13  check !

 check 2  =   13   :  318   :  1
 check 2  =   13   :  318   :  2
 check 2  =   13   :  318   :  3
 check 2  =   13   :  318   :  4
bye 88
       a    b   c
88  전북부안  319  13  check !

 check 2  =   13   :  319   :  1
 check 2  =   13   :  319   :  2
 check 2  =   13   :  319   :  3
 check 2  =   13   :  319   :  4
bye 89
       a    b   c
89  전남목포  324  14  check !

 check 2  =   14   :  324   :  1
 check 2  =   14   :  324   :  2
 check 2  =   14   :  324   :  3
 check 2  =   14   :  324   :  4
bye 90
       a    b   c
90  전남여수  325  14  check !

 check 2  =   14   :  325   :  1
 check 2  =   14   :  325   :  2
 check 2  =   14   :  325   :  3
 check 2  =   14   :  325   :  4
bye 91
       a    b   c
91  전남순천  326  14  check !

 check 2  =   14   :  326   :  1
 check 2  =   14   :  326   :  2
 check 2  =   14   :  326   :  3
 check 2  =   14   :  326   :  4
bye 92
       a    b   c
92  전남나주  327  14  check !

 check 2  =   14   :  327   :  1
 check 2  =   14   :  327   :  2
 check 2  =   14   :  327   :  3
 check 2  =   14   :  327   :  4
bye 93
       a    b   c
93  전남광양  328  14  check !

 check 2  =   14   :  328   :  1
 check 2  =   14   :  328   :  2
 check 2  =   14   :  328   :  3
 check 2  =   14   :  328   :  4
bye 94
       a    b   c
94  전남담양  329  14  check !

 check 2  =   14   :  329   :  1
 check 2  =   14   :  329   :  2
 check 2  =   14   :  329   :  3
 check 2  =   14   :  329   :  4
bye 95
       a    b   c
95  전남곡성  330  14  check !

 check 2  =   14   :  330   :  1
 check 2  =   14   :  330   :  2
 check 2  =   14   :  330   :  3
 check 2  =   14   :  330   :  4
bye 96
       a    b   c
96  전남구례  331  14  check !

 check 2  =   14   :  331   :  1
 check 2  =   14   :  331   :  2
 check 2  =   14   :  331   :  3
 check 2  =   14   :  331   :  4
bye 97
       a    b   c
97  전남고흥  332  14  check !

 check 2  =   14   :  332   :  1
 check 2  =   14   :  332   :  2
 check 2  =   14   :  332   :  3
 check 2  =   14   :  332   :  4
bye 98
       a    b   c
98  전남보성  333  14  check !

 check 2  =   14   :  333   :  1
 check 2  =   14   :  333   :  2
 check 2  =   14   :  333   :  3
 check 2  =   14   :  333   :  4
bye 99
       a    b   c
99  전남화순  334  14  check !

 check 2  =   14   :  334   :  1
 check 2  =   14   :  334   :  2
 check 2  =   14   :  334   :  3
 check 2  =   14   :  334   :  4
bye 100
        a    b   c
100  전남장흥  335  14  check !

 check 2  =   14   :  335   :  1
 check 2  =   14   :  335   :  2
 check 2  =   14   :  335   :  3
 check 2  =   14   :  335   :  4
bye 101
        a    b   c
101  전남강진  336  14  check !

 check 2  =   14   :  336   :  1
 check 2  =   14   :  336   :  2
 check 2  =   14   :  336   :  3
 check 2  =   14   :  336   :  4
bye 102
        a    b   c
102  전남해남  337  14  check !

 check 2  =   14   :  337   :  1
 check 2  =   14   :  337   :  2
 check 2  =   14   :  337   :  3
 check 2  =   14   :  337   :  4
bye 103
        a    b   c
103  전남영암  338  14  check !

 check 2  =   14   :  338   :  1
 check 2  =   14   :  338   :  2
 check 2  =   14   :  338   :  3
 check 2  =   14   :  338   :  4
bye 104
        a    b   c
104  전남무안  339  14  check !

 check 2  =   14   :  339   :  1
 check 2  =   14   :  339   :  2
 check 2  =   14   :  339   :  3
 check 2  =   14   :  339   :  4
bye 105
        a    b   c
105  전남함평  340  14  check !

 check 2  =   14   :  340   :  1
 check 2  =   14   :  340   :  2
 check 2  =   14   :  340   :  3
 check 2  =   14   :  340   :  4
bye 106
        a    b   c
106  전남영광  341  14  check !

 check 2  =   14   :  341   :  1
 check 2  =   14   :  341   :  2
 check 2  =   14   :  341   :  3
 check 2  =   14   :  341   :  4
bye 107
        a    b   c
107  전남장성  342  14  check !

 check 2  =   14   :  342   :  1
 check 2  =   14   :  342   :  2
 check 2  =   14   :  342   :  3
 check 2  =   14   :  342   :  4
bye 108
        a    b   c
108  전남완도  343  14  check !

 check 2  =   14   :  343   :  1
 check 2  =   14   :  343   :  2
 check 2  =   14   :  343   :  3
 check 2  =   14   :  343   :  4
bye 109
        a    b   c
109  전남진도  344  14  check !

 check 2  =   14   :  344   :  1
 check 2  =   14   :  344   :  2
 check 2  =   14   :  344   :  3
 check 2  =   14   :  344   :  4
bye 110
        a    b   c
110  전남신안  345  14  check !

 check 2  =   14   :  345   :  1
 check 2  =   14   :  345   :  2
 check 2  =   14   :  345   :  3
 check 2  =   14   :  345   :  4
bye 111
        a    b   c
111  경북포항  350  15  check !

 check 2  =   15   :  350   :  1
 check 2  =   15   :  350   :  2
 check 2  =   15   :  350   :  3
 check 2  =   15   :  350   :  4
bye 112
        a    b   c
112  경북경주  352  15  check !

 check 2  =   15   :  352   :  1
 check 2  =   15   :  352   :  2
 check 2  =   15   :  352   :  3
 check 2  =   15   :  352   :  4
bye 113
        a    b   c
113  경북김천  353  15  check !

 check 2  =   15   :  353   :  1
 check 2  =   15   :  353   :  2
 check 2  =   15   :  353   :  3
 check 2  =   15   :  353   :  4
bye 114
        a    b   c
114  경북안동  354  15  check !

 check 2  =   15   :  354   :  1
 check 2  =   15   :  354   :  2
 check 2  =   15   :  354   :  3
 check 2  =   15   :  354   :  4
bye 115
        a    b   c
115  경북구미  355  15  check !

 check 2  =   15   :  355   :  1
 check 2  =   15   :  355   :  2
 check 2  =   15   :  355   :  3
 check 2  =   15   :  355   :  4
bye 116
        a    b   c
116  경북영주  356  15  check !

 check 2  =   15   :  356   :  1
 check 2  =   15   :  356   :  2
 check 2  =   15   :  356   :  3
 check 2  =   15   :  356   :  4
bye 117
        a    b   c
117  경북영천  357  15  check !

 check 2  =   15   :  357   :  1
 check 2  =   15   :  357   :  2
 check 2  =   15   :  357   :  3
 check 2  =   15   :  357   :  4
bye 118
        a    b   c
118  경북상주  358  15  check !

 check 2  =   15   :  358   :  1
 check 2  =   15   :  358   :  2
 check 2  =   15   :  358   :  3
 check 2  =   15   :  358   :  4
bye 119
        a    b   c
119  경북문경  359  15  check !

 check 2  =   15   :  359   :  1
 check 2  =   15   :  359   :  2
 check 2  =   15   :  359   :  3
 check 2  =   15   :  359   :  4
bye 120
        a    b   c
120  경북경산  360  15  check !

 check 2  =   15   :  360   :  1
 check 2  =   15   :  360   :  2
 check 2  =   15   :  360   :  3
 check 2  =   15   :  360   :  4
bye 121
        a    b   c
121  경북군위  361  15  check !

 check 2  =   15   :  361   :  1
 check 2  =   15   :  361   :  2
 check 2  =   15   :  361   :  3
 check 2  =   15   :  361   :  4
bye 122
        a    b   c
122  경북의성  362  15  check !

 check 2  =   15   :  362   :  1
 check 2  =   15   :  362   :  2
 check 2  =   15   :  362   :  3
 check 2  =   15   :  362   :  4
bye 123
        a    b   c
123  경북청송  363  15  check !

 check 2  =   15   :  363   :  1
 check 2  =   15   :  363   :  2
 check 2  =   15   :  363   :  3
 check 2  =   15   :  363   :  4
bye 124
        a    b   c
124  경북영양  364  15  check !

 check 2  =   15   :  364   :  1
 check 2  =   15   :  364   :  2
 check 2  =   15   :  364   :  3
 check 2  =   15   :  364   :  4
bye 125
        a    b   c
125  경북영덕  365  15  check !

 check 2  =   15   :  365   :  1
 check 2  =   15   :  365   :  2
 check 2  =   15   :  365   :  3
 check 2  =   15   :  365   :  4
bye 126
        a    b   c
126  경북청도  366  15  check !

 check 2  =   15   :  366   :  1
 check 2  =   15   :  366   :  2
 check 2  =   15   :  366   :  3
 check 2  =   15   :  366   :  4
bye 127
        a    b   c
127  경북고령  367  15  check !

 check 2  =   15   :  367   :  1
 check 2  =   15   :  367   :  2
 check 2  =   15   :  367   :  3
 check 2  =   15   :  367   :  4
bye 128
        a    b   c
128  경북성주  368  15  check !

 check 2  =   15   :  368   :  1
 check 2  =   15   :  368   :  2
 check 2  =   15   :  368   :  3
 check 2  =   15   :  368   :  4
bye 129
        a    b   c
129  경북칠곡  369  15  check !

 check 2  =   15   :  369   :  1
 check 2  =   15   :  369   :  2
 check 2  =   15   :  369   :  3
 check 2  =   15   :  369   :  4
bye 130
        a    b   c
130  경북예천  370  15  check !

 check 2  =   15   :  370   :  1
 check 2  =   15   :  370   :  2
 check 2  =   15   :  370   :  3
 check 2  =   15   :  370   :  4
bye 131
        a    b   c
131  경북봉화  371  15  check !

 check 2  =   15   :  371   :  1
 check 2  =   15   :  371   :  2
 check 2  =   15   :  371   :  3
 check 2  =   15   :  371   :  4
bye 132
        a    b   c
132  경북울진  372  15  check !

 check 2  =   15   :  372   :  1
 check 2  =   15   :  372   :  2
 check 2  =   15   :  372   :  3
 check 2  =   15   :  372   :  4
bye 133
        a    b   c
133  경북울릉  373  15  check !

 check 2  =   15   :  373   :  1
 check 2  =   15   :  373   :  2
 check 2  =   15   :  373   :  3
 check 2  =   15   :  373   :  4
bye 134
        a    b   c
134  경남창원  379  16  check !

 check 2  =   16   :  379   :  1
 check 2  =   16   :  379   :  2
 check 2  =   16   :  379   :  3
 check 2  =   16   :  379   :  4
bye 135
        a    b   c
135  경남진주  381  16  check !

 check 2  =   16   :  381   :  1
 check 2  =   16   :  381   :  2
 check 2  =   16   :  381   :  3
 check 2  =   16   :  381   :  4
bye 136
        a    b   c
136  경남통영  383  16  check !

 check 2  =   16   :  383   :  1
 check 2  =   16   :  383   :  2
 check 2  =   16   :  383   :  3
 check 2  =   16   :  383   :  4
bye 137
        a    b   c
137  경남사천  384  16  check !

 check 2  =   16   :  384   :  1
 check 2  =   16   :  384   :  2
 check 2  =   16   :  384   :  3
 check 2  =   16   :  384   :  4
bye 138
        a    b   c
138  경남김해  385  16  check !

 check 2  =   16   :  385   :  1
 check 2  =   16   :  385   :  2
 check 2  =   16   :  385   :  3
 check 2  =   16   :  385   :  4
bye 139
        a    b   c
139  경남밀양  386  16  check !

 check 2  =   16   :  386   :  1
 check 2  =   16   :  386   :  2
 check 2  =   16   :  386   :  3
 check 2  =   16   :  386   :  4
bye 140
        a    b   c
140  경남거제  387  16  check !

 check 2  =   16   :  387   :  1
 check 2  =   16   :  387   :  2
 check 2  =   16   :  387   :  3
 check 2  =   16   :  387   :  4
bye 141
        a    b   c
141  경남양산  388  16  check !

 check 2  =   16   :  388   :  1
 check 2  =   16   :  388   :  2
 check 2  =   16   :  388   :  3
 check 2  =   16   :  388   :  4
bye 142
        a    b   c
142  경남의령  389  16  check !

 check 2  =   16   :  389   :  1
 check 2  =   16   :  389   :  2
 check 2  =   16   :  389   :  3
 check 2  =   16   :  389   :  4
bye 143
        a    b   c
143  경남함안  390  16  check !

 check 2  =   16   :  390   :  1
 check 2  =   16   :  390   :  2
 check 2  =   16   :  390   :  3
 check 2  =   16   :  390   :  4
bye 144
        a    b   c
144  경남창녕  391  16  check !

 check 2  =   16   :  391   :  1
 check 2  =   16   :  391   :  2
 check 2  =   16   :  391   :  3
 check 2  =   16   :  391   :  4
bye 145
        a    b   c
145  경남고성  392  16  check !

 check 2  =   16   :  392   :  1
 check 2  =   16   :  392   :  2
 check 2  =   16   :  392   :  3
 check 2  =   16   :  392   :  4
bye 146
        a    b   c
146  경남남해  393  16  check !

 check 2  =   16   :  393   :  1
 check 2  =   16   :  393   :  2
 check 2  =   16   :  393   :  3
 check 2  =   16   :  393   :  4
bye 147
        a    b   c
147  경남하동  394  16  check !

 check 2  =   16   :  394   :  1
 check 2  =   16   :  394   :  2
 check 2  =   16   :  394   :  3
 check 2  =   16   :  394   :  4
bye 148
        a    b   c
148  경남산청  395  16  check !

 check 2  =   16   :  395   :  1
 check 2  =   16   :  395   :  2
 check 2  =   16   :  395   :  3
 check 2  =   16   :  395   :  4
bye 149
        a    b   c
149  경남함양  396  16  check !

 check 2  =   16   :  396   :  1
 check 2  =   16   :  396   :  2
 check 2  =   16   :  396   :  3
 check 2  =   16   :  396   :  4
bye 150
        a    b   c
150  경남거창  397  16  check !

 check 2  =   16   :  397   :  1
 check 2  =   16   :  397   :  2
 check 2  =   16   :  397   :  3
 check 2  =   16   :  397   :  4
bye 151
        a    b   c
151  경남합천  398  16  check !

 check 2  =   16   :  398   :  1
 check 2  =   16   :  398   :  2
 check 2  =   16   :  398   :  3
 check 2  =   16   :  398   :  4
bye 152

In [29]:
#step 5  - 갯수 확인 및 데이터형식 list -> DataFrame 치환 
# 치환 후 csv로 output           

real_ar=[]

real_ar.append(co2)
real_ar.append(ch4)
real_ar.append(n2o)
real_ar.append(tot_sum)


print(len(co2),len(ch4),len(n2o),len(tot_sum))

644 644 644 644

In [30]:
final_df=pd.DataFrame(real_ar)

# 여기도요

final_df.to_csv("fin_sc12.csv")

##################################