In [3]:
import pandas as pd
import os

os.getcwd()
os.chdir("C:/Users\임상현/Desktop\업무/배출체계/181127_주행거리_재작업/kt_rawdata/181130")
os.getcwd()
os.listdir(".")

['correction.csv', 'output.csv', 'output_1.csv', 'test_1.csv', 'zero_cell.csv']

In [2]:
correction=pd.read_csv("correction.csv",encoding='utf-8')
output=pd.read_csv("output.csv",encoding='utf-8')

In [3]:
correction

    B  C1  F  correction
0   1   1  1        30.1
1   1   2  1        33.4
2   1   3  1         1.2
3   1   4  1         7.5
4   2   1  1        30.2
5   2   2  1        24.1
6   2   3  1        26.9
7   2   4  1        14.7
8   3   1  1        59.9
9   3   2  1        83.1
10  3   3  1        49.5
11  3   4  1       162.6
12  1   1  2        36.5
13  1   2  2        44.3
14  1   3  2        26.8
15  1   4  2        15.2
16  2   1  2        39.6
17  2   2  2        41.4
18  2   3  2        42.2
19  2   4  2        40.4
20  3   1  2        71.8
21  3   2  2       154.8
22  3   3  2       143.8
23  3   4  2       162.7
24  1   1  3        27.9
25  1   2  3        24.6
26  1   3  3        31.2
27  1   4  3        15.2
28  2   1  3        36.7
29  2   2  3        33.4
.. ..  .. ..         ...
54  2   3  5        42.9
55  2   4  5        40.0
56  3   1  5        71.2
57  3   2  5       243.5
58  3   3  5        80.4
59  3   4  5       162.6
60  1   1  6        15.3
61  1   2  6         9.8
62  1   3  6         3.5
63  1   4  6        15.2
64  2   1  6        27.8
65  2   2  6        21.3
66  2   3  6        22.9
67  2   4  6        40.0
68  3   1  6        42.6
69  3   2  6       191.6
70  3   3  6        32.0
71  3   4  6       162.6
72  1   1  7        31.0
73  1   2  7        44.1
74  1   3  7        27.4
75  1   4  7        15.2
76  2   1  7        33.5
77  2   2  7        40.5
78  2   3  7        41.7
79  2   4  7        40.0
80  3   1  7        80.4
81  3   2  7       175.1
82  3   3  7       142.1
83  3   4  7       162.6

[84 rows x 4 columns]

In [4]:
output

         NCODE  Scode1  Bcode  Ccode1  Ccode2  Fcode  N_KT     KT
0      1001111       1      1       1       1      1    48  16.31
1      1011111       1      1       1       1      1    10  15.07
2      1021111       1      1       1       1      1     8  11.32
3      1031111       1      1       1       1      1    12  13.29
4      1041111       1      1       1       1      1     9  14.73
5      1051111       1      1       1       1      1     8  13.71
6      1061111       1      1       1       1      1     3  12.61
7      1071111       1      1       1       1      1    21  16.20
8      1081111       1      1       1       1      1     7  11.78
9      1091111       1      1       1       1      1     3   8.51
10     1101111       1      1       1       1      1     6  15.97
11     1111111       1      1       1       1      1    12  14.13
12     1121111       1      1       1       1      1    15  14.64
13     1131111       1      1       1       1      1     4  13.29
14     1141111       1      1       1       1      1    14  16.09
15     1151111       1      1       1       1      1     9  26.76
16     1161111       1      1       1       1      1     3  18.67
17     1171111       1      1       1       1      1     2  16.66
18     1181111       1      1       1       1      1     9   9.27
19     1191111       1      1       1       1      1    13  18.32
20     1201111       1      1       1       1      1     6  12.86
21     1211111       1      1       1       1      1    20  15.00
22     1221111       1      1       1       1      1    10  14.27
23     1231111       1      1       1       1      1     9  16.89
24     1241111       1      1       1       1      1     5  16.08
25     1301111       2      1       1       1      1     9  16.77
26     1311111       2      1       1       1      1     1  11.14
27     1321111       2      1       1       1      1     7  17.14
28     1331111       2      1       1       1      1     5  16.67
29     1341111       2      1       1       1      1    15  15.59
...        ...     ...    ...     ...     ...    ...   ...    ...
76578  3633447      15      3       4       4      7     0   0.00
76579  3643447      15      3       4       4      7     0   0.00
76580  3653447      15      3       4       4      7     0   0.00
76581  3663447      15      3       4       4      7     0   0.00
76582  3673447      15      3       4       4      7     0   0.00
76583  3683447      15      3       4       4      7     0   0.00
76584  3693447      15      3       4       4      7     0   0.00
76585  3703447      15      3       4       4      7     0   0.00
76586  3713447      15      3       4       4      7     0   0.00
76587  3723447      15      3       4       4      7     0   0.00
76588  3733447      15      3       4       4      7     0   0.00
76589  3793447      16      3       4       4      7     0   0.00
76590  3813447      16      3       4       4      7     0   0.00
76591  3833447      16      3       4       4      7     0   0.00
76592  3843447      16      3       4       4      7     0   0.00
76593  3853447      16      3       4       4      7     0   0.00
76594  3863447      16      3       4       4      7     0   0.00
76595  3873447      16      3       4       4      7     0   0.00
76596  3883447      16      3       4       4      7     0   0.00
76597  3893447      16      3       4       4      7     0   0.00
76598  3903447      16      3       4       4      7     0   0.00
76599  3913447      16      3       4       4      7     0   0.00
76600  3923447      16      3       4       4      7     0   0.00
76601  3933447      16      3       4       4      7     0   0.00
76602  3943447      16      3       4       4      7     0   0.00
76603  3953447      16      3       4       4      7     0   0.00
76604  3963447      16      3       4       4      7     0   0.00
76605  3973447      16      3       4       4      7     0   0.00
76606  3983447      16      3       4       4      7     0   0.00
76607  4053447      17      3       4       4      7     0   0.00

[76608 rows x 8 columns]

In [51]:
output.loc[ (output['Bcode']==1) & (output['Ccode1']==1) & (output['Fcode']==1) & (output['KT']==0) , 'KT']=30.1

        NCODE  Scode1  Bcode  Ccode1  Ccode2  Fcode  N_KT   KT
58    1701111       4      1       1       1      1     0  0.0
158   3141111      13      1       1       1      1     0  0.0
175   3351111      14      1       1       1      1     0  0.0
185   3451111      14      1       1       1      1     0  0.0
2738  1021121       1      1       1       2      1     0  0.0
2740  1041121       1      1       1       2      1     0  0.0
2743  1071121       1      1       1       2      1     0  0.0
2745  1091121       1      1       1       2      1     0  0.0
2750  1141121       1      1       1       2      1     0  0.0
2752  1161121       1      1       1       2      1     0  0.0
2755  1191121       1      1       1       2      1     0  0.0
2757  1211121       1      1       1       2      1     0  0.0
2774  1431121       2      1       1       2      1     0  0.0
2786  1621121       4      1       1       2      1     0  0.0
2831  2311121       9      1       1       2      1     0  0.0
2848  2571121      10      1       1       2      1     0  0.0
2850  2591121      10      1       1       2      1     0  0.0
2895  3151121      13      1       1       2      1     0  0.0
2911  3351121      14      1       1       2      1     0  0.0
2917  3411121      14      1       1       2      1     0  0.0
2929  3581121      15      1       1       2      1     0  0.0
2934  3631121      15      1       1       2      1     0  0.0
2937  3661121      15      1       1       2      1     0  0.0
2941  3701121      15      1       1       2      1     0  0.0
5530  1701131       4      1       1       3      1     0  0.0
5544  1951131       7      1       1       3      1     0  0.0
5575  2391131       9      1       1       3      1     0  0.0
5592  2651131      10      1       1       3      1     0  0.0
5693  3931131      16      1       1       3      1     0  0.0
8212  1041141       1      1       1       4      1     0  0.0
...       ...     ...    ...     ...     ...    ...   ...  ...
8364  3121141      13      1       1       4      1     0  0.0
8365  3131141      13      1       1       4      1     0  0.0
8366  3141141      13      1       1       4      1     0  0.0
8367  3151141      13      1       1       4      1     0  0.0
8371  3191141      13      1       1       4      1     0  0.0
8375  3271141      14      1       1       4      1     0  0.0
8380  3321141      14      1       1       4      1     0  0.0
8381  3331141      14      1       1       4      1     0  0.0
8384  3361141      14      1       1       4      1     0  0.0
8385  3371141      14      1       1       4      1     0  0.0
8386  3381141      14      1       1       4      1     0  0.0
8388  3401141      14      1       1       4      1     0  0.0
8389  3411141      14      1       1       4      1     0  0.0
8391  3431141      14      1       1       4      1     0  0.0
8393  3451141      14      1       1       4      1     0  0.0
8398  3551141      15      1       1       4      1     0  0.0
8400  3571141      15      1       1       4      1     0  0.0
8401  3581141      15      1       1       4      1     0  0.0
8402  3591141      15      1       1       4      1     0  0.0
8405  3621141      15      1       1       4      1     0  0.0
8407  3641141      15      1       1       4      1     0  0.0
8409  3661141      15      1       1       4      1     0  0.0
8411  3681141      15      1       1       4      1     0  0.0
8419  3831141      16      1       1       4      1     0  0.0
8420  3841141      16      1       1       4      1     0  0.0
8422  3861141      16      1       1       4      1     0  0.0
8426  3901141      16      1       1       4      1     0  0.0
8427  3911141      16      1       1       4      1     0  0.0
8430  3941141      16      1       1       4      1     0  0.0
8434  3981141      16      1       1       4      1     0  0.0

[95 rows x 8 columns]

In [53]:
output.loc[ (output['Bcode']==1) & (output['Ccode1']==1) & (output['Fcode']==1) & (output['KT']==30.1) ]

        NCODE  Scode1  Bcode  Ccode1  Ccode2  Fcode  N_KT    KT
58    1701111       4      1       1       1      1     0  30.1
158   3141111      13      1       1       1      1     0  30.1
175   3351111      14      1       1       1      1     0  30.1
185   3451111      14      1       1       1      1     0  30.1
2738  1021121       1      1       1       2      1     0  30.1
2740  1041121       1      1       1       2      1     0  30.1
2743  1071121       1      1       1       2      1     0  30.1
2745  1091121       1      1       1       2      1     0  30.1
2750  1141121       1      1       1       2      1     0  30.1
2752  1161121       1      1       1       2      1     0  30.1
2755  1191121       1      1       1       2      1     0  30.1
2757  1211121       1      1       1       2      1     0  30.1
2774  1431121       2      1       1       2      1     0  30.1
2786  1621121       4      1       1       2      1     0  30.1
2831  2311121       9      1       1       2      1     0  30.1
2848  2571121      10      1       1       2      1     0  30.1
2850  2591121      10      1       1       2      1     0  30.1
2895  3151121      13      1       1       2      1     0  30.1
2911  3351121      14      1       1       2      1     0  30.1
2917  3411121      14      1       1       2      1     0  30.1
2929  3581121      15      1       1       2      1     0  30.1
2934  3631121      15      1       1       2      1     0  30.1
2937  3661121      15      1       1       2      1     0  30.1
2941  3701121      15      1       1       2      1     0  30.1
5530  1701131       4      1       1       3      1     0  30.1
5544  1951131       7      1       1       3      1     0  30.1
5575  2391131       9      1       1       3      1     0  30.1
5592  2651131      10      1       1       3      1     0  30.1
5693  3931131      16      1       1       3      1     0  30.1
8212  1041141       1      1       1       4      1     0  30.1
...       ...     ...    ...     ...     ...    ...   ...   ...
8364  3121141      13      1       1       4      1     0  30.1
8365  3131141      13      1       1       4      1     0  30.1
8366  3141141      13      1       1       4      1     0  30.1
8367  3151141      13      1       1       4      1     0  30.1
8371  3191141      13      1       1       4      1     0  30.1
8375  3271141      14      1       1       4      1     0  30.1
8380  3321141      14      1       1       4      1     0  30.1
8381  3331141      14      1       1       4      1     0  30.1
8384  3361141      14      1       1       4      1     0  30.1
8385  3371141      14      1       1       4      1     0  30.1
8386  3381141      14      1       1       4      1     0  30.1
8388  3401141      14      1       1       4      1     0  30.1
8389  3411141      14      1       1       4      1     0  30.1
8391  3431141      14      1       1       4      1     0  30.1
8393  3451141      14      1       1       4      1     0  30.1
8398  3551141      15      1       1       4      1     0  30.1
8400  3571141      15      1       1       4      1     0  30.1
8401  3581141      15      1       1       4      1     0  30.1
8402  3591141      15      1       1       4      1     0  30.1
8405  3621141      15      1       1       4      1     0  30.1
8407  3641141      15      1       1       4      1     0  30.1
8409  3661141      15      1       1       4      1     0  30.1
8411  3681141      15      1       1       4      1     0  30.1
8419  3831141      16      1       1       4      1     0  30.1
8420  3841141      16      1       1       4      1     0  30.1
8422  3861141      16      1       1       4      1     0  30.1
8426  3901141      16      1       1       4      1     0  30.1
8427  3911141      16      1       1       4      1     0  30.1
8430  3941141      16      1       1       4      1     0  30.1
8434  3981141      16      1       1       4      1     0  30.1

[95 rows x 8 columns]

In [64]:
a=int(correction.iloc[0,:].B)
b=int(correction.iloc[0,:].C1)
c=int(correction.iloc[0,:].F)

In [5]:
count=0

while count<=83:
    
    a=int(correction.iloc[count,:].B)
    b=int(correction.iloc[count,:].C1)
    c=int(correction.iloc[count,:].F)
    d=float(correction.iloc[count,:].correction)
    
    output.loc[ (output['Bcode']==a) & (output['Ccode1']==b) & (output['Fcode']==c) & (output['KT']==0) , 'KT']=d
    
    
    count=count+1
    
    if count%10==0:
        print(count)

10
20
30
40
50
60
70
80

In [1]:
output.to_csv('output_1.csv')

NameError: name 'output' is not defined

In [16]:
zero_cell=pd.read_csv("zero_cell.csv",encoding='utf-8')

In [8]:
output=pd.read_csv("output_1.csv",encoding='utf-8')

In [6]:
zero_cell

,NCODE,lazy,Scode1,Bcode,Ccode1,Ccode2,Fcode,Ycode,N_KT,KT
0,10011111,1001111,1,1,1,1,1,1,0,0.0
1,10111111,1011111,1,1,1,1,1,1,0,0.0
2,10211111,1021111,1,1,1,1,1,1,0,0.0
3,10311111,1031111,1,1,1,1,1,1,0,0.0
4,10411111,1041111,1,1,1,1,1,1,0,0.0
5,10511111,1051111,1,1,1,1,1,1,0,0.0
6,10611111,1061111,1,1,1,1,1,1,0,0.0
7,10711111,1071111,1,1,1,1,1,1,0,0.0
8,10811111,1081111,1,1,1,1,1,1,0,0.0
9,10911111,1091111,1,1,1,1,1,1,0,0.0
10,11011111,1101111,1,1,1,1,1,1,0,0.0
11,11111111,1111111,1,1,1,1,1,1,0,0.0
12,11211111,1121111,1,1,1,1,1,1,0,0.0
13,11311111,1131111,1,1,1,1,1,1,0,0.0
14,11411111,1141111,1,1,1,1,1,1,0,0.0
15,11511111,1151111,1,1,1,1,1,1,0,0.0
16,11611111,1161111,1,1,1,1,1,1,0,0.0
17,11711111,1171111,1,1,1,1,1,1,0,0.0
18,11811111,1181111,1,1,1,1,1,1,0,0.0
19,11911111,1191111,1,1,1,1,1,1,0,0.0
20,12011111,1201111,1,1,1,1,1,1,0,0.0
21,12111111,1211111,1,1,1,1,1,1,0,0.0
22,12211111,1221111,1,1,1,1,1,1,0,0.0
23,12311111,1231111,1,1,1,1,1,1,0,0.0
24,12411111,1241111,1,1,1,1,1,1,0,0.0
25,13011111,1301111,2,1,1,1,1,1,0,0.0
26,13111111,1311111,2,1,1,1,1,1,0,0.0
27,13211111,1321111,2,1,1,1,1,1,0,0.0
28,13311111,1331111,2,1,1,1,1,1,0,0.0
29,13411111,1341111,2,1,1,1,1,1,0,0.0
...,...,...,...,...,...,...,...,...,...,...
306402,36334474,3633447,15,3,4,4,7,4,0,0.0
306403,36434474,3643447,15,3,4,4,7,4,0,0.0
306404,36534474,3653447,15,3,4,4,7,4,0,0.0
306405,36634474,3663447,15,3,4,4,7,4,0,0.0
306406,36734474,3673447,15,3,4,4,7,4,0,0.0
306407,36834474,3683447,15,3,4,4,7,4,0,0.0
306408,36934474,3693447,15,3,4,4,7,4,0,0.0
306409,37034474,3703447,15,3,4,4,7,4,0,0.0
306410,37134474,3713447,15,3,4,4,7,4,0,0.0
306411,37234474,3723447,15,3,4,4,7,4,0,0.0
306412,37334474,3733447,15,3,4,4,7,4,0,0.0
306413,37934474,3793447,16,3,4,4,7,4,0,0.0
306414,38134474,3813447,16,3,4,4,7,4,0,0.0
306415,38334474,3833447,16,3,4,4,7,4,0,0.0
306416,38434474,3843447,16,3,4,4,7,4,0,0.0
306417,38534474,3853447,16,3,4,4,7,4,0,0.0
306418,38634474,3863447,16,3,4,4,7,4,0,0.0
306419,38734474,3873447,16,3,4,4,7,4,0,0.0
306420,38834474,3883447,16,3,4,4,7,4,0,0.0
306421,38934474,3893447,16,3,4,4,7,4,0,0.0
306422,39034474,3903447,16,3,4,4,7,4,0,0.0
306423,39134474,3913447,16,3,4,4,7,4,0,0.0
306424,39234474,3923447,16,3,4,4,7,4,0,0.0
306425,39334474,3933447,16,3,4,4,7,4,0,0.0
306426,39434474,3943447,16,3,4,4,7,4,0,0.0
306427,39534474,3953447,16,3,4,4,7,4,0,0.0
306428,39634474,3963447,16,3,4,4,7,4,0,0.0
306429,39734474,3973447,16,3,4,4,7,4,0,0.0
306430,39834474,3983447,16,3,4,4,7,4,0,0.0
306431,40534474,4053447,17,3,4,4,7,4,0,0.0

In [16]:
haha = zero_cell.loc[zero_cell['KT']==0].lazy

In [45]:
haha=haha.reset_index()

In [47]:
haha.iloc[0,:]['lazy']

1001111

In [48]:
haha

        level_0   index     lazy
0             0       0  1001111
1             1       1  1011111
2             2       2  1021111
3             3       3  1031111
4             4       4  1041111
5             5       5  1051111
6             6       6  1061111
7             7       7  1071111
8             8       8  1081111
9             9       9  1091111
10           10      10  1101111
11           11      11  1111111
12           12      12  1121111
13           13      13  1131111
14           14      14  1141111
15           15      15  1151111
16           16      16  1161111
17           17      17  1171111
18           18      18  1181111
19           19      19  1191111
20           20      20  1201111
21           21      21  1211111
22           22      22  1221111
23           23      23  1231111
24           24      24  1241111
25           25      25  1301111
26           26      26  1311111
27           27      27  1321111
28           28      28  1331111
29           29      29  1341111
...         ...     ...      ...
263367   263367  306402  3633447
263368   263368  306403  3643447
263369   263369  306404  3653447
263370   263370  306405  3663447
263371   263371  306406  3673447
263372   263372  306407  3683447
263373   263373  306408  3693447
263374   263374  306409  3703447
263375   263375  306410  3713447
263376   263376  306411  3723447
263377   263377  306412  3733447
263378   263378  306413  3793447
263379   263379  306414  3813447
263380   263380  306415  3833447
263381   263381  306416  3843447
263382   263382  306417  3853447
263383   263383  306418  3863447
263384   263384  306419  3873447
263385   263385  306420  3883447
263386   263386  306421  3893447
263387   263387  306422  3903447
263388   263388  306423  3913447
263389   263389  306424  3923447
263390   263390  306425  3933447
263391   263391  306426  3943447
263392   263392  306427  3953447
263393   263393  306428  3963447
263394   263394  306429  3973447
263395   263395  306430  3983447
263396   263396  306431  4053447

[263397 rows x 3 columns]

In [68]:
zero_cell

,NCODE,lazy,Scode1,Bcode,Ccode1,Ccode2,Fcode,Ycode,N_KT,KT
0,10011111,1001111,1,1,1,1,1,1,0,16.31
1,10111111,1011111,1,1,1,1,1,1,0,0.00
2,10211111,1021111,1,1,1,1,1,1,0,0.00
3,10311111,1031111,1,1,1,1,1,1,0,0.00
4,10411111,1041111,1,1,1,1,1,1,0,0.00
5,10511111,1051111,1,1,1,1,1,1,0,0.00
6,10611111,1061111,1,1,1,1,1,1,0,0.00
7,10711111,1071111,1,1,1,1,1,1,0,0.00
8,10811111,1081111,1,1,1,1,1,1,0,0.00
9,10911111,1091111,1,1,1,1,1,1,0,0.00
10,11011111,1101111,1,1,1,1,1,1,0,0.00
11,11111111,1111111,1,1,1,1,1,1,0,0.00
12,11211111,1121111,1,1,1,1,1,1,0,0.00
13,11311111,1131111,1,1,1,1,1,1,0,0.00
14,11411111,1141111,1,1,1,1,1,1,0,0.00
15,11511111,1151111,1,1,1,1,1,1,0,0.00
16,11611111,1161111,1,1,1,1,1,1,0,0.00
17,11711111,1171111,1,1,1,1,1,1,0,0.00
18,11811111,1181111,1,1,1,1,1,1,0,0.00
19,11911111,1191111,1,1,1,1,1,1,0,0.00
20,12011111,1201111,1,1,1,1,1,1,0,0.00
21,12111111,1211111,1,1,1,1,1,1,0,0.00
22,12211111,1221111,1,1,1,1,1,1,0,0.00
23,12311111,1231111,1,1,1,1,1,1,0,0.00
24,12411111,1241111,1,1,1,1,1,1,0,0.00
25,13011111,1301111,2,1,1,1,1,1,0,0.00
26,13111111,1311111,2,1,1,1,1,1,0,0.00
27,13211111,1321111,2,1,1,1,1,1,0,0.00
28,13311111,1331111,2,1,1,1,1,1,0,0.00
29,13411111,1341111,2,1,1,1,1,1,0,0.00
...,...,...,...,...,...,...,...,...,...,...
306402,36334474,3633447,15,3,4,4,7,4,0,0.00
306403,36434474,3643447,15,3,4,4,7,4,0,0.00
306404,36534474,3653447,15,3,4,4,7,4,0,0.00
306405,36634474,3663447,15,3,4,4,7,4,0,0.00
306406,36734474,3673447,15,3,4,4,7,4,0,0.00
306407,36834474,3683447,15,3,4,4,7,4,0,0.00
306408,36934474,3693447,15,3,4,4,7,4,0,0.00
306409,37034474,3703447,15,3,4,4,7,4,0,0.00
306410,37134474,3713447,15,3,4,4,7,4,0,0.00
306411,37234474,3723447,15,3,4,4,7,4,0,0.00
306412,37334474,3733447,15,3,4,4,7,4,0,0.00
306413,37934474,3793447,16,3,4,4,7,4,0,0.00
306414,38134474,3813447,16,3,4,4,7,4,0,0.00
306415,38334474,3833447,16,3,4,4,7,4,0,0.00
306416,38434474,3843447,16,3,4,4,7,4,0,0.00
306417,38534474,3853447,16,3,4,4,7,4,0,0.00
306418,38634474,3863447,16,3,4,4,7,4,0,0.00
306419,38734474,3873447,16,3,4,4,7,4,0,0.00
306420,38834474,3883447,16,3,4,4,7,4,0,0.00
306421,38934474,3893447,16,3,4,4,7,4,0,0.00
306422,39034474,3903447,16,3,4,4,7,4,0,0.00
306423,39134474,3913447,16,3,4,4,7,4,0,0.00
306424,39234474,3923447,16,3,4,4,7,4,0,0.00
306425,39334474,3933447,16,3,4,4,7,4,0,0.00
306426,39434474,3943447,16,3,4,4,7,4,0,0.00
306427,39534474,3953447,16,3,4,4,7,4,0,0.00
306428,39634474,3963447,16,3,4,4,7,4,0,0.00
306429,39734474,3973447,16,3,4,4,7,4,0,0.00
306430,39834474,3983447,16,3,4,4,7,4,0,0.00
306431,40534474,4053447,17,3,4,4,7,4,0,0.00

In [50]:
output

         NCODE  Scode1  Bcode  Ccode1  Ccode2  Fcode  N_KT      KT
0      1001111       1      1       1       1      1    48   16.31
1      1011111       1      1       1       1      1    10   15.07
2      1021111       1      1       1       1      1     8   11.32
3      1031111       1      1       1       1      1    12   13.29
4      1041111       1      1       1       1      1     9   14.73
5      1051111       1      1       1       1      1     8   13.71
6      1061111       1      1       1       1      1     3   12.61
7      1071111       1      1       1       1      1    21   16.20
8      1081111       1      1       1       1      1     7   11.78
9      1091111       1      1       1       1      1     3    8.51
10     1101111       1      1       1       1      1     6   15.97
11     1111111       1      1       1       1      1    12   14.13
12     1121111       1      1       1       1      1    15   14.64
13     1131111       1      1       1       1      1     4   13.29
14     1141111       1      1       1       1      1    14   16.09
15     1151111       1      1       1       1      1     9   26.76
16     1161111       1      1       1       1      1     3   18.67
17     1171111       1      1       1       1      1     2   16.66
18     1181111       1      1       1       1      1     9    9.27
19     1191111       1      1       1       1      1    13   18.32
20     1201111       1      1       1       1      1     6   12.86
21     1211111       1      1       1       1      1    20   15.00
22     1221111       1      1       1       1      1    10   14.27
23     1231111       1      1       1       1      1     9   16.89
24     1241111       1      1       1       1      1     5   16.08
25     1301111       2      1       1       1      1     9   16.77
26     1311111       2      1       1       1      1     1   11.14
27     1321111       2      1       1       1      1     7   17.14
28     1331111       2      1       1       1      1     5   16.67
29     1341111       2      1       1       1      1    15   15.59
...        ...     ...    ...     ...     ...    ...   ...     ...
76578  3633447      15      3       4       4      7     0  162.60
76579  3643447      15      3       4       4      7     0  162.60
76580  3653447      15      3       4       4      7     0  162.60
76581  3663447      15      3       4       4      7     0  162.60
76582  3673447      15      3       4       4      7     0  162.60
76583  3683447      15      3       4       4      7     0  162.60
76584  3693447      15      3       4       4      7     0  162.60
76585  3703447      15      3       4       4      7     0  162.60
76586  3713447      15      3       4       4      7     0  162.60
76587  3723447      15      3       4       4      7     0  162.60
76588  3733447      15      3       4       4      7     0  162.60
76589  3793447      16      3       4       4      7     0  162.60
76590  3813447      16      3       4       4      7     0  162.60
76591  3833447      16      3       4       4      7     0  162.60
76592  3843447      16      3       4       4      7     0  162.60
76593  3853447      16      3       4       4      7     0  162.60
76594  3863447      16      3       4       4      7     0  162.60
76595  3873447      16      3       4       4      7     0  162.60
76596  3883447      16      3       4       4      7     0  162.60
76597  3893447      16      3       4       4      7     0  162.60
76598  3903447      16      3       4       4      7     0  162.60
76599  3913447      16      3       4       4      7     0  162.60
76600  3923447      16      3       4       4      7     0  162.60
76601  3933447      16      3       4       4      7     0  162.60
76602  3943447      16      3       4       4      7     0  162.60
76603  3953447      16      3       4       4      7     0  162.60
76604  3963447      16      3       4       4      7     0  162.60
76605  3973447      16      3       4       4      7     0  162.60
76606  3983447      16      3       4       4      7     0  162.60
76607  4053447      17      3       4       4      7     0  162.60

[76608 rows x 8 columns]

In [17]:
count=0

while count <=306431:
    
    if zero_cell.iloc[count,9]==0:
        
        a=int(zero_cell.iloc[count,1])
        
        b=float(output.loc[output['NCODE']==a].KT)
        
        zero_cell.iloc[count,9]=b
        
    count=count+1
    
    if count%10000 == 0:
        
        print(count)

10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000
290000
300000

In [18]:
zero_cell

,NCODE,lazy,Scode1,Bcode,Ccode1,Ccode2,Fcode,Ycode,N_KT,KT
0,10011111,1001111,1,1,1,1,1,1,0,16.31
1,10111111,1011111,1,1,1,1,1,1,0,15.07
2,10211111,1021111,1,1,1,1,1,1,0,11.32
3,10311111,1031111,1,1,1,1,1,1,0,13.29
4,10411111,1041111,1,1,1,1,1,1,0,14.73
5,10511111,1051111,1,1,1,1,1,1,0,13.71
6,10611111,1061111,1,1,1,1,1,1,0,12.61
7,10711111,1071111,1,1,1,1,1,1,0,16.20
8,10811111,1081111,1,1,1,1,1,1,0,11.78
9,10911111,1091111,1,1,1,1,1,1,0,8.51
10,11011111,1101111,1,1,1,1,1,1,0,15.97
11,11111111,1111111,1,1,1,1,1,1,0,14.13
12,11211111,1121111,1,1,1,1,1,1,0,14.64
13,11311111,1131111,1,1,1,1,1,1,0,13.29
14,11411111,1141111,1,1,1,1,1,1,0,16.09
15,11511111,1151111,1,1,1,1,1,1,0,26.76
16,11611111,1161111,1,1,1,1,1,1,0,18.67
17,11711111,1171111,1,1,1,1,1,1,0,16.66
18,11811111,1181111,1,1,1,1,1,1,0,9.27
19,11911111,1191111,1,1,1,1,1,1,0,18.32
20,12011111,1201111,1,1,1,1,1,1,0,12.86
21,12111111,1211111,1,1,1,1,1,1,0,15.00
22,12211111,1221111,1,1,1,1,1,1,0,14.27
23,12311111,1231111,1,1,1,1,1,1,0,16.89
24,12411111,1241111,1,1,1,1,1,1,0,16.08
25,13011111,1301111,2,1,1,1,1,1,0,16.77
26,13111111,1311111,2,1,1,1,1,1,0,11.14
27,13211111,1321111,2,1,1,1,1,1,0,17.14
28,13311111,1331111,2,1,1,1,1,1,0,16.67
29,13411111,1341111,2,1,1,1,1,1,0,15.59
...,...,...,...,...,...,...,...,...,...,...
306402,36334474,3633447,15,3,4,4,7,4,0,162.60
306403,36434474,3643447,15,3,4,4,7,4,0,162.60
306404,36534474,3653447,15,3,4,4,7,4,0,162.60
306405,36634474,3663447,15,3,4,4,7,4,0,162.60
306406,36734474,3673447,15,3,4,4,7,4,0,162.60
306407,36834474,3683447,15,3,4,4,7,4,0,162.60
306408,36934474,3693447,15,3,4,4,7,4,0,162.60
306409,37034474,3703447,15,3,4,4,7,4,0,162.60
306410,37134474,3713447,15,3,4,4,7,4,0,162.60
306411,37234474,3723447,15,3,4,4,7,4,0,162.60
306412,37334474,3733447,15,3,4,4,7,4,0,162.60
306413,37934474,3793447,16,3,4,4,7,4,0,162.60
306414,38134474,3813447,16,3,4,4,7,4,0,162.60
306415,38334474,3833447,16,3,4,4,7,4,0,162.60
306416,38434474,3843447,16,3,4,4,7,4,0,162.60
306417,38534474,3853447,16,3,4,4,7,4,0,162.60
306418,38634474,3863447,16,3,4,4,7,4,0,162.60
306419,38734474,3873447,16,3,4,4,7,4,0,162.60
306420,38834474,3883447,16,3,4,4,7,4,0,162.60
306421,38934474,3893447,16,3,4,4,7,4,0,162.60
306422,39034474,3903447,16,3,4,4,7,4,0,162.60
306423,39134474,3913447,16,3,4,4,7,4,0,162.60
306424,39234474,3923447,16,3,4,4,7,4,0,162.60
306425,39334474,3933447,16,3,4,4,7,4,0,162.60
306426,39434474,3943447,16,3,4,4,7,4,0,162.60
306427,39534474,3953447,16,3,4,4,7,4,0,162.60
306428,39634474,3963447,16,3,4,4,7,4,0,162.60
306429,39734474,3973447,16,3,4,4,7,4,0,162.60
306430,39834474,3983447,16,3,4,4,7,4,0,162.60
306431,40534474,4053447,17,3,4,4,7,4,0,162.60

In [19]:
zero_cell.to_csv('output_2.csv')